*:-webkit-scrollbar {
  width: 1px !important;
  height: 1px !important;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

*::-webkit-scrollbar-thumb {
  background: #02aaa0 !important ;
  border-radius: 999px !important;
}

*::-webkit-scrollbar-thumb:hover {
  background: #028b82 !important;
}
