@import "tailwindcss";
@import "antd/dist/reset.css";

:root {
  --primary-color: #02aaa0;
  --secondary-color: #c9ae6c;
  --accent-color: #4ade80;
  --background-color: #f3f4f6;
}

button {
}
body {
  background: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

button.bg-teal-600,
button.text-white {
  color: white !important;
}

html {
  scrollbar-width: 1px !important;
  scrollbar-color: #02aaa0 #f1f1f1;
}

html::-webkit-scrollbar {
  width: 1px !important;
}

html::-webkit-scrollbar-track {
  background: #f1f1f1;
}

html::-webkit-scrollbar-thumb {
  background: #02aaa0;
  border-radius: 999px;
  width: 1px !important;
  height: 1px !important;
}

html::-webkit-scrollbar-thumb:hover {
  background: #028b82;
}
