@import "tailwindcss";

:root {
  --primary-color: #02AAA0;
  --secondary-color: #C9AE6C;
  --accent-color: #4ade80;
  --background-color: #f3f4f6;
  --text-color: #111827;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
